

.item{
    display: flex;
    align-items: center;
    gap: 20px;

}
.textContainer{
    flex:4;
    display: flex;
    flex-direction: column;
    gap:5px;

}

.category{
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
}

.category.Rashi{
    margin-top: 10px;
    background-color: #B1AFFF;

}
.category.Aastha{
    margin-top: 10px;
    background-color: #bba23d;

}
.category.Ayush{
    margin-top: 10px;
    background-color: #FFBB70;

}
.category.Manyata{
    margin-top: 10px;
    background-color: #f8b500;

}
.category.food{
    margin-top: 10px;
    background-color: #5c636e;

}
.title{
    font-weight: 500;
    font-style: 18px;
    color: var(--softTextColor);
}
.detail{
    font-style: 13px;
}
.date{
    color: gray;
    font-weight: 300;

}
.editor{
    border-bottom: 1px solid crimson;
}